<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="border-start border-5 ms-6">
    <h5><%= @question %></h5>
    <H4 class = "text-muted"> You </H4>
  </div>
  <div class="border-start border-5 ms-6 bg-alert"></a>
    <h5><%= @answer %></h5>
    <H4 class = "text-muted"> Your Coach </H4>
  </div>
  <h6><%= link_to "ask page", ask_path %></h6>
</div>
