<div class="container ms-4">
  <h1>Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <input class = "col-8 p-2" type="text" name="question">
    <input class = "btn-primary p-2 rounded" type="submit" value="Ask!">
  </form>
</div>
